# S3 bucket shared by AWS Config, GuardDuty, and CloudTrail
security_log_bucket_name      = "your-shared-security-logs-bucket"

# Enable centralized CloudTrail for all accounts (set true in org management account)
cloudtrail_org_trail          = true

# Enable all-region logging
cloudtrail_all_regions        = true

# Enable CloudTrail Insights
cloudtrail_enable_insights    = true
